[Unit]
Description=Realtime voice translate app
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/root/realtime-voice-translate
Environment=HTTP_PORT=80
Environment=HTTPS_PORT=443
Environment=TLS_CERT=/etc/letsencrypt/live/translate.samuelshadrach.com/fullchain.pem
Environment=TLS_KEY=/etc/letsencrypt/live/translate.samuelshadrach.com/privkey.pem
ExecStart=/root/realtime-voice-translate/start.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
